.mobile-card {
    width: 30%;
    display: inline-block;
    font-family: 'Courier New', Courier;
    text-align: center;
    margin: 10px 10px;  
    background-color: cadetblue;
    box-shadow: 3px 8px rgb(206, 204, 204)
}
.mobile-wrapper {
    margin-bottom: 30px;
    /* border: 1px solid greenyellow; */
}
.mobile-heading {
    text-align: center;
}
.mobile-card-template,.mobile-wrapper-template,.mobile-header-template {
    display: none;
}
.pagination {
    text-align: center;
    margin-top: 10px;
}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
.pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}